<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :menu_name %>
  </div>

  <div class="field">
    <%= form.label :restaurant_id %>
    <% restaurants_array = @restaurants.map { |restaurant| [restaurant.name, restaurant.id] } %>
    <%= form.select(:restaurant_id, options_for_select(restaurants_array)) %>
    <% if false %>
    <%= form.text_field :restaurant_id, id: :menu_restaurant_id %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :menu_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
