<div>
  <% if current_user %>
  <%= react_component 'Main', { currentUser: current_user } %>
  <p>Logged in as <%= current_user.email %>.</p>
  <p>Current user_id <%= current_user.id %>.</p>
  <% unless @carts.nil? %>
    <% if @carts.active == true %>
      <p><%= link_to "View Cart", @carts %></p>  
    <% else %>
      <%= link_to 'New Group Cart', new_cart_path %>
    <% end %>
  <% else %>
    <%= link_to 'New Group Cart', new_cart_path %>
  <% end %>
  <p><%= link_to "Log Out", logout_path %></p>  
  <% else %>
    <%= link_to "Sign Up", signup_path %> or 
    <%= link_to "Log In", login_path %>
  <% end %>  
  <hr />
  <p>
  <h2>
  <strong> History</strong>
  </h2>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Restaurant</th>
        <th>Order Date</th>
        <th>Total Price</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% unless @history.nil? %>
        <% @history.each do |menu| %>
          <tr>
            <td><%= menu.id %></td>
            <td><%= link_to menu.name, menu %></td>
            <td><%= menu.created_at %></td>
            <td><%= menu.total_price %></td>
            <td><%= menu.status %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
  </table>
</div>