<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cart_name %>
  </div>

  <% if @is_edit %>
    <div class="field">
      <%= form.label :active %>
      <%= form.check_box :active, id: :cart_active %>
  </div>
  <% end %>

  <% if false %>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :cart_user %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :max %>
    <%= form.number_field :max, id: :max_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
