<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cart.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @cart.active %>
</p>

<p>
  <strong>Max Price:</strong>
  <%= @cart.max %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @user.email %>
</p>

<p>
<hr />
<p>
  <strong>Your Cart:</strong>
</p>
<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Price</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td><%= item.menu.name %></td>        
        <td><%= item.menu.price %></td>
        <td><%= item.user.email %></td>
        <% if current_user.id == @cart.user_id || item.user.id == current_user.id %>
          <td><%= link_to 'Remove', cart_item_remove_from_cart_url(item.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>  
</p>
<hr />
<p>
<table>
  <thead>
    <tr>
      <th>List of Restaurants</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>                
      </tr>
    <% end %>
  </tbody>
</table>  
</p>

<% if current_user.id == @cart.user_id %>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Checkout', cart_checkout_url(@cart.id) %> |
<% end %>
<%= link_to 'Back', home_index_path %>
