<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cart_item.user %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @cart_item.menu %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @cart_item.cart %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item) %> |
<%= link_to 'Back', cart_items_path %>
