<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant's Name:</strong>
  <%= @restaurant.name %>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price ($) </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %> 
      <tr>
        <td><%= menu.name %></td>        
        <td><%= menu.price %></td>
        <td><%= link_to 'Add to Cart', menu_add_to_cart_url(menu.id, @cart.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', home_index_path %>
